In [2]:
import pandas as pd
df = pd.read_excel('wheather_df.xlsx')

In [3]:
df

                   day  temperature  windspeed  event
0  2017-01-01 00:00:00           32          6   Rain
1  2017-02-01 00:00:00           35          7  Sunny
2            1/3/20217           28          2   Snow
3  2017-04-01 00:00:00           24          7   Snow
4  2017-05-01 00:00:00           32          4   Rain
5  2017-06-01 00:00:00           32          2  Sunny